<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Antonio</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="./stylesheets/main.css">
</head>

<body>
  <div id="wrapper">
    <div class="row">
      <div id="side-menu" class="col-3">
        <img src="./images/profile-photo.jpg" alt="profile photo">
        <h3>Antonio Aiello</h3>
        <h4>SFCC B2C Developer/Software Engineer, Italy</h4>
        <ul>
          <li><a href="#intro">home</a></li>
          <li><a href="#about">su di me</a></li>
          <li><a href="#services">servizi</a></li>
          <li><a href="#skills">abilità</a></li>
          <li><a href="#experience">esperienze</a></li>
          <li><a href="#education">educazione</a></li>
          <li><a href="#contact">contatti</a></li>
        </ul>
        <div class="row languages">
          <a href="/en">
            <img src="/images/en-langugae.svg" alt="en-language-flag">
          </a>
          <a href="/it">
            <img src="/images/it-flag.svg" alt="it-language-flag">
          </a>
        </div>

      </div>
      <div id="main" class="col-9">
        <div class="row mobile-show">
          <div class="col-6">
            &Tab;
          </div>
          <div class="col-6">
            <a href="/en">
              <img src="/images/en-langugae.svg" alt="en-language-flag">
            </a>
            <a href="/it">
              <img src="/images/it-flag.svg" alt="it-language-flag">
            </a>
          </div>
        </div>

        <div id="intro">
          <div id="intro-text">
            <h1>Hi,<br>I'm Antonio</h1>
            <p>SFCC B2C Developer & Software Engineer.</p>
            <a href="./cv/antonioaiello-it.pdf" download="Antonio Aiello CV - IT">Scarica il CV</a>
          </div>
        </div>
        <!-- ABOUT US -->
        <div id="about" class="col-12 box">
          <h6>Su di me</h6>
          <h3>Chi sono?</h3>
          <p>
            Full-stack Web Developer e SFCC B2C Developer.
            Laureato in Economia e Management ( Curriculum: Amministrazione, Finanza e Controllo ).
            Fluente in Inglese(B2), buona conoscenza del Tedesco (A2) e Spagnolo (A2).
          </p>
          <p>
            Per contattarmi puoi trovare le mie info di contatto alla fine di questa pagina.
          </p>
          <div class="squares-row">
            <div class="square col-3">
              <i class="fas fa-pencil-ruler"></i>
              <p>Web Design</p>
            </div>
            <div class="square col-3">
              <i class="fa fa-database"></i>
              <p>SFCC B2C</p>
            </div>
            <div class="square col-3">
              <i class="fas fa-server"></i>
              <p>Software</p>
            </div>
            <div class="square col-3">
              <i class="fas fa-laptop-code"></i>
              <p>Sviluppo Web</p>
            </div>

          </div>
        </div>
        <!-- wHAT I DO -->
        <div id="services" class="col-12 box">
          <h6>Cosa faccio?</h6>
          <h3>Alcune mie abilità</h3>
          <div class="experties-row">
            <div class="skill-box">
              <i class="fas fa-laptop-code"></i>
              <h3>Sviluppo Web</h3>
              <p>
                Attraverso l'uso di JavaScript sono in grado di creare applicazioni web full-stack, sia per uso
                personale che per uso aziendale.
              </p>
            </div>
            <div class="skill-box">
              <i class="fas fa-database"></i>
              <h3>DataBase</h3>
              <p>
                Grazie al database non-relazionale MongoDB posso creare database potenti e veloci in grado di contenere
                tutti i tuoi dati o quelli dei tuoi clienti.
              </p>
            </div>
            <div class="skill-box">
              <i class="fas fa-cogs"></i>
              <h3>REST API</h3>
              <p>
                Tramite l'interrelazione di Node.js, Express e MongoDB posso creare potenti REST API in grado di rendere
                i tuoi dati in modo veloce e sicuro.
              </p>
            </div>
            <div class="skill-box">
              <i class="fas fa-crop"></i>
              <h3>Web Design Responsive</h3>
              <p>
                Con le ultime versioni di HTML e CSS e con l'uso dei più famosi framework di CSS posso creare dei siti
                web responsive, visibili sia sul tuo PC, che dal tuo tablet o smartphone.
              </p>
            </div>
          </div>
        </div>
        <!-- MY SPECIALITY -->
        <!-- 
        <div id="skills" class="col-12 box">
          <h6>Le mie specialità</h6>
          <h3>Le mie abilità</h3>
          <p>
            Grazie a numerosi bootcamps, accademie, corsi e libri ho avuto l'opportunità di imparare le più recenti e
            famose tecnologie utilizzate oggi. Ecco alcune fra queste:</p>
          <div class="row progress-row">
            <div class="col-6">
              <h5>HTML5</h5>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="85"
                  aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>CSS3</h5>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85"
                  aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>JavaScript</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>jQuery</h5>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>MongoDB</h5>
              <div class="progress">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 60%" aria-valuenow="60"
                  aria-valuemin="0" aria-valuemax="70">60%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>Python</h5>
              <div class="progress">
                <div class="progress-bar bg-python" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="90">80%</div>
              </div>
            </div>
          </div>
        </div>
        -->
        <!-- EXPERIENCE -->
        <div id="experience" class="col-12 box">
          <h6>Esperienze</h6>
          <h3>Esperienze Lavorative</h3>
          <div class="education-row active">
            <div class="col-12 edu-intro active">
              <p>SFCC Developer - Freelance</p>
            </div>
            <div class="col-12 caption">
              <div class="experience-text">
                <p>
                  Il mio lavoro consiste  nell’assistere grandi aziende internazionali a costruire la loro presenza digitale usando le migliori tecnologie in ambito informatico.
                  Le aziende con cui ho lavorato: 
                  <ul class="ml-3">
                    <li><strong>BayBridge Digital</strong>: am:pm SFCC project (catena di supermercati in Israele).</li>
                    <li><strong>Alpenite</strong>: Caffè Borbone SFCC Project, Fendi SFCC Project.</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="education-row">
            <div class="col-12 edu-intro">
              <p>SFCC Developer - La Prairie</p>
            </div>
            <div class="col-12 caption">
              <div class="experience-text">
                <p>
                  Il mio lavoro consisteva nell’assistere  l’azienda a raggiungere i propri obiettivi sul loro ecommerce con Salesforce Commerce Cloud.
                  Ho inoltre aiutato l’azienda a valutare nuove soluzioni digitali per il loro sito web corporate. 
                  Le tecnologie che ho usato durante la mia esperienza: SFCC, HTML5, Sass, CSS3, JavaScript, Node.js, isml, npm, Git, JIRA, Confluence, Bitbucket.
                </p>
              </div>
            </div>
          </div>
          <div class="education-row">
            <div class="col-12 edu-intro">
              <p>Software Engineer - Openmind srl</p>
            </div>
            <div class="col-12 caption">
              <div class="experience-text">
                <p>
                  <strong>Progetto KIKO (Percassi)</strong> -
                  Insieme a un team di software enginners, designers e project managers ho lavorato al redesign del sito
                  web di KIKO Milano, tramite l'utilizzo delle seguenti tecnologie: HTML5, Scss, CSS3, ES6, Java, Jsp, npm, yarn e Git.
                </p>
              </div>
              <div class="experience-text">
                <p>
                  <strong>Progetto Fendi</strong> -
                  Insieme a un team di software enginners, designers e project managers ho lavorato all'evoluzione del sito
                  web di Fendi, tramite l'utilizzo delle seguenti tecnologie: HTML5, Scss, JavaScript, jQuery, Jsp, npm, yarn, grunt e Git.
                </p>
              </div>
              <div class="experience-text">
                <p>
                  <strong>Progetto Boscolo Tours</strong> -
                  Insieme a un team di software enginners e project managers ho lavorato alla creazione del nuovo sito
                  web di Boscolo, tramite l'utilizzo delle seguenti tecnologie: Salesforce Commerce Cloud, HTML5, Scss, JavaScript, jQuery, node.js, isml, git, npm, webpack, Vue.js. 
                </p>
              </div>
              <div class="experience-text">
                <p>
                  <strong>Progetto Benetton/Sisley</strong> -
                  Insieme a un team di software enginners e project managers ho lavorato alla creazione dei siti web di due brand usando una logica con whitelabel, tramite l'utilizzo delle seguenti tecnologie: Salesforce Commerce Cloud, HTML5, Scss, JavaScript, jQuery, node.js, isml, git, npm, webpack, React.js.
                </p>
              </div>
              <div class="experience-text">
                <p>
                  <strong>Progetto Arcturus (Sambonet, Paderno, Rosenthal, Arzberg, Hutschenreuther, Thomas)</strong> - 
                  Insieme a un team di software enginners e project managers ho lavorato alla creazione dei siti web di sei brand usando una logica con whitelabel, tramite l'utilizzo delle seguenti tecnologie: Salesforce Commerce Cloud, HTML5, Scss, JavaScript, jQuery, node.js, isml, git, npm, webpack, React.js.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- EDUCATION -->
        <div id="education" class="col-12 box">
          <h6>Educazione</h6>
          <h3>Educazione</h3>
          <div class="education-row active">
            <div class="col-12 edu-intro active">
              <p>"Modern React Bootcamp" di Colt Steele</p>
            </div>
            <div class="col-12 caption">
              <p>
                React, Hooks, Context, Next, Router.
              </p>
            </div>
          </div>
          <div id="blockchain" class="education-row">
            <div class="col-12 edu-intro">
              <p>"Blockchain A-Z" di Hadelin de Ponteves, Kirill
                Eremenko, SuperDataScience Team</p>
            </div>
            <div class="col-12 caption">
              <p>
                Un corso online focalizzato sulla blockchain, le criptovalute e gli smart contracts.
              </p>
              <p>
                Argomenti affrontati nel corso: Blockchain, Bitcoin, criptovalute, transazioni di criptovalute, smart contracts, come creare una blockchain, come creare una criptovaluta.
              </p>
            </div>
          </div>
          <div id="seo" class="education-row">
            <div class="col-12 edu-intro">
              <p>“SEO Training” di Daragh Walsh</p>
            </div>
            <div class="col-12 caption">
              <p>
                Un corso online focalizzato su come incrementare la Search Engine Optimization
              </p>
              <p>
                Argomenti affrontati nel corso: Keyword Research, On Page Optimisation, Off Page Optimisation.
              </p>
            </div>
          </div>
          <div id="aria" class="education-row">
            <div  class="col-12 edu-intro">
              <p>Corso online “Web Accessibility by Google”​​</p>
            </div>
            <div  class="col-12 caption">
              <p>
                Un video corso incentrato sull'accessibilità delle pagine web.
              </p>
              <p>
                Argomenti affrontati nel corso: Semantics, semantic markup, ARIA markup, linee guida sullo stile per
                persone ipovedenti.
              </p>
            </div>
          </div>
          <div id="sql" class="education-row">
            <div class="col-12 edu-intro">
              <p>"The Ultimate MySQL Bootcamp" di Colt Steele​</p>
            </div>
            <div class="col-12 caption">
              <p>
                Un bootcamp intensivo concentrato su SQL e MySQL.
              </p>
              <p>
                Argomenti affrontati nel corso: Sintassi di SQL, Analisi dei dati tramite Aggregate Functions, Creare
                query usando gli operatori logici e le string functions di MySQL, Creare web app usando MySQL e NodeJS,
                progettare e Implementare complessi database.
              </p>
            </div>
          </div>
          <div class="education-row">
            <div class="col-12 edu-intro">
              <p>Yoox Interface Developer Academy</p>
            </div>
            <div class="col-12 caption">
              <p>
                Un corso intensivo per sviluppatore web front-end di 6 settimane sponsorizzato da Adecco Formation e
                Modis in partnership con Yoox.
              </p>
              <p>
                Argomenti affrontati nel corso: Photoshop, HTML5, HTML semantico, CSS3, Responsive Web
                Design, JavaScript, ES6, JSON, AJAX, jQuery, SASS, Visual Studio, .NET Framework, C#.
              </p>
            </div>
          </div>
          <div class="education-row">
            <div class="col-12 edu-intro">
              <p>Laurea triennale in Economia e Management</p>
            </div>
            <div class="col-12 caption">
              <p>
                Mi sono laureato all'univeristà degli studi di Salerno nel marzo 2019 con una laurea triennale in
                Economia e Management, specializzato in Amministrazione, Finanza e Controllo.
              </p>
            </div>
          </div>
          <div class="education-row">
            <div class="col-12 edu-intro">
              <p>Samsung Innovation Camp 2018</p>
            </div>
            <div class="col-12 caption">
              <p>
                Il Samsung Innovation Camp 2018 è un progetto creato da Samsung Electronics Italia S.p.A con l'obiettivo
                di fornire un background tecnologico a studenti universitari e infine insegnargli a mettere in pratica
                tali tecnologie.
                Nel mio caso ho lavorato con un team presso il Parco Archeologico di Paesum, il nostro obiettivo era di
                ridurre il gap tecnologico all'interno della struttura, e abbiamo proposto di farlo utilizzando la
                tecnologia NFC, i Beacon ed il Bluetooth 4.0.
              </p>
            </div>
          </div>
          <div class="education-row">
            <div class="col-12 edu-intro">
              <p>Erasmus+ Program, Witten/Herdecke University</p>
            </div>
            <div class="col-12 caption">
              <p>
                Nel semestere invernale 2017/18 ho partecipato al programma Erasmus+ per 6 mesi nell'Università di
                Witten/Herdecke in Germania dove ho havuto la possibilità di accrescere la mia conoscenza della lingua
                inglese ed ho imparato le basi della lingua tedesca
                <br>
                Nel frattempo ho seguito i seguenti corsi: Market Research, Strategic Marketing,
                Marketing Management, Family Business.
              </p>
            </div>
          </div>
          <div class="education-row">
            <div class="col-12 edu-intro">
              <p>“The Web Developer Bootcamp” di Colt Steele</p>
            </div>
            <div class="col-12 caption">
              <p>
                Un bootcamp intensivo di sviluppatore web full-stack, gli argomenti affrontati nel corso sono:
                HTML5, CSS3, JavaScript, Bootstrap 4, Semantic UI, Manipolazione del DOM, jQuery, Unix (Command
                Line) Commands, Node.js, NPM, ExpressJS, REST, MongoDB, Database Associations,
                Authentication, PassportJS, Authorization.
              </p>
            </div>
          </div>
          <div class="education-row">
            <div class="col-12 edu-intro">
              <p>“Complete Python Bootcamp” di Jose Portilia</p>
            </div>
            <div class="col-12 caption">
              <p>
                Un bootcamp intensivo sul linguaggio di programmazione Python offerto da uno fra i migliori istruttori
                professionali per Data Science e programmazione.
                <br>
                Argomenti affrontati nel corso: Python 3, Object
                Oriented
                Programming (OOP), inheritance, polymorphism , Unit Tests, Debugging ed Error Handling.
              </p>
            </div>
          </div>
        </div>
        <!-- CONTACT -->
        <div id="contact" class="col-12 box">
          <h6>Mettiti in contatto</h6>
          <h3>Contatti</h3>
          <div class="contact-row">
            <div class="row col-6">
              <div class="col-3">
                <i class="far fa-envelope"></i>
              </div>
              <div class="col-9">
                <p>tonyaiello66@gmail.com</p>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fas fa-phone"></i>
              </div>
              <div class="col-9">
                <p>+39 3518924077</p>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-instagram"></i>
              </div>
              <div class="col-9">
                <a href="https://www.instagram.com/toniii.a13/" target="_blank">@toniii.a13</a>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-facebook-f"></i>
              </div>
              <div class="col-9">
                <a href="https://www.facebook.com/antonio.aiello.5682" target="_blank">Antonio
                  Aiello</a>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="col-9">
                <a href="https://www.linkedin.com/in/antonio-aiello-1123aai/" target="_blank">Linkedin</a>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-github"></i>
              </div>
              <div class="col-9">
                <a href="https://github.com/antonaai" target="_blank">Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="javascripts/jquery-file.js"></script>
  <script src="javascripts/main-it.js"></script>
</body>

</html>