<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Antonio</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="./stylesheets/main.css">
</head>

<body>
  <div id="wrapper">
    <div class="row">
      <div id="side-menu" class="col-3">
        <img src="./images/profile-photo.jpg" alt="profile photo">
        <h3>Antonio Aiello</h3>
        <h4>Web Developer/Software Engineer, Italy</h4>
        <ul>
          <li><a href="#intro">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#services">services</a></li>
          <li><a href="#skills">skills</a></li>
          <li><a href="#education">education</a></li>
          <li><a href="#work">work</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
        <div class="row languages">
          <a href="/en">
            <img src="/images/en-langugae.svg" alt="en-language-flag">
          </a>
          <a href="/it">
            <img src="/images/it-flag.svg" alt="it-language-flag">
          </a>
        </div>

      </div>
      <div id="main" class="col-9">
        <div class="row mobile-show">
          <div class="col-6">
            &Tab;
          </div>
          <div class="col-6">
            <a href="/en">
              <img src="/images/en-langugae.svg" alt="en-language-flag">
            </a>
            <a href="/it">
              <img src="/images/it-flag.svg" alt="it-language-flag">
            </a>
          </div>
        </div>
        <div id="intro">
          <div id="intro-text">
            <h1>Hi,<br>I'm Antonio</h1>
            <p>I'm a developer and software engineer</p>
            <a href="./cv/antonioaiello-en.pdf" download="Antonio Aiello CV - EN">Download CV</a>
          </div>
        </div>
        <!-- ABOUT US -->
        <div id="about" class="col-12 box">
          <h6>About us</h6>
          <h3>Who am I?</h3>
          <p>I am a young web developer and software engineer from Italy, I graduated with a bachelor degree at the
            University of Salerno in Economics and Management and I can fluently speak Italian and English and I know
            the basics of the German language.</p>
          <p>To get in touch with me you can find my contacts info at the end of this page.</p>
          <div class="squares-row">
            <div id="s-one" class="square col-3">
              <i class="fas fa-pencil-ruler"></i>
              <p>Web Design</p>
            </div>
            <div id="s-two" class="square col-3">
              <i class="fa fa-database"></i>
              <p>Database</p>
            </div>
            <div id="s-three" class="square col-3">
              <i class="fas fa-server"></i>
              <p>Software</p>
            </div>
            <div id="s-four" class="square col-3">
              <i class="fas fa-laptop-code"></i>
              <p>Web Development</p>
            </div>

          </div>
        </div>
        <!-- wHAT I DO -->
        <div id="services" class="col-12 box">
          <h6>What I do?</h6>
          <h3>Here are some of my experties</h3>
          <div class="experties-row">
            <div class="skill-box">
              <i class="fas fa-laptop-code"></i>
              <h3>Web Development</h3>
              <p>Through the use of JavaScript I am able to provide full-stack web applications, both for
                personal and business use.</p>
            </div>
            <div class="skill-box">
              <i class="fas fa-database"></i>
              <h3>DataBases</h3>
              <p>Thanks to the non-relational Mongo Database I can create fast and powerful DBs for
                storing all yours and your clients data.</p>
            </div>
            <div class="skill-box">
              <i class="fas fa-cogs"></i>
              <h3>REST API</h3>
              <p>Thanks to the interrelation of Node.js, Express and MongoDB I can provide powerful REST
                API to render datas in a fast and secure way.</p>
            </div>
            <div class="skill-box">
              <i class="fas fa-crop"></i>
              <h3>Responsive Web Design</h3>
              <p>With the latest versions of HTML and CSS and with the use of the most famous CSS
                frameworks I can create handsome and responsive websites, visible both on your PC,
                tablet or smartphone.</p>
            </div>
          </div>
        </div>
        <!-- MY SPECIALITY -->
        <div id="skills" class="col-12 box">
          <h6>My speciality</h6>
          <h3>My skills</h3>
          <p>Thanks to several bootcamps, academies, courses and books I had the opportunity to learn some of the latest
            and most famous technologies used today. Here is some of them:</p>
          <div class="row progress-row">
            <div class="col-6">
              <h5>HTML5</h5>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="85"
                  aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>CSS3</h5>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>JavaScript</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>jQuery</h5>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60"
                  aria-valuemin="0" aria-valuemax="100">60%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>MongoDB</h5>
              <div class="progress">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 70%" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="70">60%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>Python</h5>
              <div class="progress">
                <div class="progress-bar bg-python" role="progressbar" style="width: 90%" aria-valuenow="90"
                  aria-valuemin="0" aria-valuemax="90">80%</div>
              </div>
            </div>
          </div>
        </div>
        <!-- EDUCATION -->
        <div id="education" class="col-12 box">
          <h6>Education</h6>
          <h3>Education</h3>
          <div id="one" class="education-row">
            <div id="aria-intro" class="col-12 edu-intro active">
              <p>Online Course “Web Accessibility by Google”​​</p>
            </div>
            <div id="one-caption" class="col-12 caption">
              <p>
                An online course focused on making accessible web pages.
              </p>
              <p>
                Topics taught in the course: Semantics, semantic markup, ARIA markup, style guidelines for visually
                impaired users.
              </p>
            </div>
          </div>
          <div id="sql" class="education-row">
            <div id="sql-intro" class="col-12 edu-intro">
              <p>"The Ultimate MySQL Bootcamp" by Colt Steele​</p>
            </div>
            <div id="sql-caption" class="col-12 caption">
              <p>
                An intensive bootcamp focused on SQL and MySQL.
              </p>
              <p>
                Topics taught in the course: SQL syntax, Analyze data using Aggregate Functions, Run complex queries
                using MySQL logical operators and string functions, Build a web app using MySQL and NodeJS, Design and
                implement complex database schemas.
              </p>
            </div>
          </div>
          <div class="education-row">
            <div class="col-12 edu-intro">
              <p>Yoox Interface Developer Academy</p>
            </div>
            <div class="col-12 caption">
              <p>A 6 week intensive Front-End Web Developer Course sponsored by Adecco Formation and Modis
                in partnership with Yoox. </p>
              <p>
                Topics taught in the course: Photoshop, HTML5, Semantic HTML, CSS3, Responsive Web
                Design, JavaScript, ES6, JSON, AJAX, jQuery, SASS, Visual Studio, .NET Framework, C#.
              </p>
            </div>
          </div>
          <div id="two" class="education-row">
            <div id="two-intro" class="col-12 edu-intro">
              <p>Bachelor degree of economics and management</p>
            </div>
            <div id="two-caption" class="col-12 caption">
              <p>I graduated at the University of Salerno in March 2019 with a Bachelor Degree in
                Economics and Management, specialized in Administration, Finance and Control. </p>
            </div>
          </div>
          <div id="three" class="education-row">
            <div id="three-intro" class="col-12 edu-intro">
              <p>Samsung Innovation Camp 2018</p>
            </div>
            <div id="three-caption" class="col-12 caption">
              <p>
                Innovation Camp 2018 is a project created by Samsung Electronics Italia S.p.A with the
                goal to give a technological background to university students and teach them how to
                implement such technologies.
                The program started with an online course where everyone could access, then 60 of the
                best students in the course were picked to implement the technologies learned in the
                course inside non-tech companies.
                In my case I worked with a team in the Archeological Park of Paestum, our goal was to
                reduce the technological gap in the Park, and we planned to do it with the use of NFC
                technologies, Beacon and Bluetooth 4.0.</p>
            </div>
          </div>
          <div id="four" class="education-row">
            <div id="four-intro" class="col-12 edu-intro">
              <p>Erasmus+ Program, Witten/Herdecke University</p>
            </div>
            <div id="four-caption" class="col-12 caption">
              <p>In the Winter Semester 2017/18 I joined the Erasmus+ Program for 6 months in the
                University of Witten/Herdecke in Germany where I had the opportunity to increase my
                English knowledge and learn the basic of the German language.
                <br>
                Meanwhile I followed the following courses: Market Research, Strategic Marketing,
                Marketing Management, Family Business.
              </p>
            </div>
          </div>
          <div id="five" class="education-row">
            <div id="five-intro" class="col-12 edu-intro">
              <p>“The Web Developer Bootcamp” by Colt Steele</p>
            </div>
            <div id="five-caption" class="col-12 caption">
              <p>An intensive full-stack web development bootcamp, the topics taught in the course: HTML5,
                CSS3, JavaScript, Bootstrap 4, Semantic UI, DOM Manipulation, jQuery, Unix (Command
                Line) Commands, Node.js, NPM, ExpressJS, REST, MongoDB, Database Associations,
                Authentication, PassportJS, Authorization.
              </p>
            </div>
          </div>
          <div id="six" class="education-row">
            <div id="six-intro" class="col-12 edu-intro">
              <p>“Complete Python Bootcamp” by Jose Portilia</p>
            </div>
            <div id="six-caption" class="col-12 caption">
              <p>An intensive Python Bootcamp taught by one of the best professional instructor and
                trainer for Data Science and programming.
                <br>
                Topics taught in the course: Python 3, Object
                Oriented
                Programming (OOP), inheritance, polymorphism , Unit Tests, Debugging and Error Handling.
              </p>
            </div>
          </div>
        </div>
        <!-- MY WORK -->
        <div id="work" class="col-12 box">
          <h6>My work</h6>
          <h3>Recent Work</h3>
          <div class="portfolio-row">
            <div class="thumbnail col-6">
              <div class="portfolio-text">
                <a href="https://radiant-oasis-30147.herokuapp.com/" target="_blank">Spaghetti &
                  Code</a>
                <p>A personal project where I created an online school to teach people how to code in an
                  interactive way.</p>
              </div>
            </div>
            <div class="thumbnail col-6">
              <div class="portfolio-text">
                <a href="https://desolate-brushlands-59136.herokuapp.com/home" target="_blank">Incontri
                  Storti</a>
                <p>A blog-like web application, with a little search engine for searching posts and an "I feel lucky"
                  functionality, that I created for my clients, where they post pictures of the strangest meetings.
                  <br>
                  <strong>*The site is still in production</strong>
                </p>
              </div>
            </div>
            <div class="thumbnail col-6">
              <div class="portfolio-text">
                <a href="https://aqueous-retreat-78200.herokuapp.com/" target="_blank">Master Mind
                  Game</a>
                <p>A web game created using JavaScript.</p>
              </div>
            </div>
            <div class="thumbnail col-6">
              <div class="portfolio-text">
                <a href="https://github.com/antonaai/Credit_card_validator/blob/master/credit_card_validator.py"
                  target="_blank">Credit
                  Card Validator</a>
                <p>The source code of a credit card validator which uses luhn algorithm to check if
                  the card provided by the user is valid</p>
              </div>
            </div>
            <div class="thumbnail col-6 more-content">
              <div class="portfolio-text">
                <a href="https://github.com/antonaai/Black-Jack/blob/master/black_jack.py" target="_blank">Black
                  Jack</a>
                <p>Black Jack game created using Python programming language.</p>
              </div>
            </div>
            <div class="thumbnail col-6 more-content">
              <div class="portfolio-text">
                <a href="https://multicultural-eds-36686.herokuapp.com/" target="_blank">Horizons</a>
                <p>A simple one page website to show the layout of a responsive website. Resize the browser window to
                  see changes.</p>
              </div>
            </div>
            <div id="load-more" class="col-12">
              Load More
            </div>
          </div>
        </div>
        <!-- CONTACT -->
        <div id="contact" class="col-12 box">
          <h6>Get in touch</h6>
          <h3>Contact</h3>
          <div class="contact-row">
            <div class="row col-6">
              <div class="col-3">
                <i class="far fa-envelope"></i>
              </div>
              <div class="col-9">
                <p>tonyaiello66@gmail.com</p>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fas fa-phone"></i>
              </div>
              <div class="col-9">
                <p>+39 3518924077</p>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-instagram"></i>
              </div>
              <div class="col-9">
                <a href="https://www.instagram.com/toniii.a13/" target="_blank">@toniii.a13</a>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-facebook-f"></i>
              </div>
              <div class="col-9">
                <a href="https://www.facebook.com/antonio.aiello.5682" target="_blank">Antonio
                  Aiello</a>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="col-9">
                <a href="https://www.linkedin.com/in/antonio-aiello-1123aai/" target="_blank">Linkedin</a>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-github"></i>
              </div>
              <div class="col-9">
                <a href="https://github.com/antonaai" target="_blank">Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="javascripts/jquery-file.js"></script>
  <script src="javascripts/main.js"></script>
</body>

</html>