<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Antonio</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="./stylesheets/main.css">
</head>

<body>
  <div id="wrapper">
    <div class="row">
      <div id="side-menu" class="col-3">
        <img src="./images/profile-photo.jpg" alt="profile photo">
        <h3>Antonio Aiello</h3>
        <h4>Web Developer/Software Engineer, Italy</h4>
        <ul>
          <li><a href="#intro">home</a></li>
          <li><a href="#about">su di me</a></li>
          <li><a href="#services">servizi</a></li>
          <li><a href="#skills">abilità</a></li>
          <li><a href="#education">educazione</a></li>
          <li><a href="#work">lavori</a></li>
          <li><a href="#contact">contatti</a></li>
        </ul>
        <div class="row languages">
          <a href="/en">
            <img src="/images/en-langugae.svg" alt="en-language-flag">
          </a>
          <a href="/it">
            <img src="/images/it-flag.svg" alt="it-language-flag">
          </a>
        </div>

      </div>
      <div id="main" class="col-9">
        <div class="row mobile-show">
          <div class="col-6">
            &Tab;
          </div>
          <div class="col-6">
            <a href="/en">
              <img src="/images/en-langugae.svg" alt="en-language-flag">
            </a>
            <a href="/it">
              <img src="/images/it-flag.svg" alt="it-language-flag">
            </a>
          </div>
        </div>

        <div id="intro">
          <div id="intro-text">
            <h1>Ciao!<br>Io sono Antonio</h1>
            <p>Sviluppatore & Software Engineer.</p>
            <a href="./cv/antonioaiello-it.pdf" download="Antonio Aiello CV - IT">Scarica il CV</a>
          </div>
        </div>
        <!-- ABOUT US -->
        <div id="about" class="col-12 box">
          <h6>Su di me</h6>
          <h3>Chi sono?</h3>
          <p>
            Sono un giovane sviluppatore web e software engineer dall'Italia, mi sono laureato con laurea triennale
            all'Università degli Studi di Salerno in Economia e Management, posso parlare fluentemente italiano e
            inglese e conosco le basi della lingua tedesca.
          </p>
          <p>
            Per contattarmi puoi trovare le mie info di contatto alla fine di questa pagina.
          </p>
          <div class="squares-row">
            <div id="s-one" class="square col-3">
              <i class="fas fa-pencil-ruler"></i>
              <p>Web Design</p>
            </div>
            <div id="s-two" class="square col-3">
              <i class="fa fa-database"></i>
              <p>Database</p>
            </div>
            <div id="s-three" class="square col-3">
              <i class="fas fa-server"></i>
              <p>Software</p>
            </div>
            <div id="s-four" class="square col-3">
              <i class="fas fa-laptop-code"></i>
              <p>Sviluppo Web</p>
            </div>

          </div>
        </div>
        <!-- wHAT I DO -->
        <div id="services" class="col-12 box">
          <h6>Cosa faccio?</h6>
          <h3>Alcune mie abilità</h3>
          <div class="experties-row">
            <div class="skill-box">
              <i class="fas fa-laptop-code"></i>
              <h3>Sviluppo Web</h3>
              <p>
                Attraverso l'uso di JavaScript sono in grado di creare applicazioni web full-stack, sia per uso
                personale che per uso aziendale.
              </p>
            </div>
            <div class="skill-box">
              <i class="fas fa-database"></i>
              <h3>DataBase</h3>
              <p>
                Grazie al database non-relazionale MongoDB posso creare database potenti e veloci in grado di contenere
                tutti i tuoi dati o quelli dei tuoi clienti.
              </p>
            </div>
            <div class="skill-box">
              <i class="fas fa-cogs"></i>
              <h3>REST API</h3>
              <p>
                Tramite l'interrelazione di Node.js, Express e MongoDB posso creare potenti REST API in grado di rendere
                i tuoi dati in modo veloce e sicuro.
              </p>
            </div>
            <div class="skill-box">
              <i class="fas fa-crop"></i>
              <h3>Web Design Responsive</h3>
              <p>
                Con le ultime versioni di HTML e CSS e con l'uso dei più famosi framework di CSS posso creare dei siti
                web responsive, visibili sia sul tuo PC, che dal tuo tablet o smartphone.
              </p>
            </div>
          </div>
        </div>
        <!-- MY SPECIALITY -->
        <div id="skills" class="col-12 box">
          <h6>Le mie specialità</h6>
          <h3>Le mie abilità</h3>
          <p>
            Grazie a numerosi bootcamps, accademie, corsi e libri ho avuto l'opportunità di imparare le più recenti e
            famose tecnologie utilizzate oggi. Ecco alcune fra queste:</p>
          <div class="row progress-row">
            <div class="col-6">
              <h5>HTML5</h5>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="85"
                  aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>CSS3</h5>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>JavaScript</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>jQuery</h5>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60"
                  aria-valuemin="0" aria-valuemax="100">60%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>MongoDB</h5>
              <div class="progress">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 70%" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="70">70%</div>
              </div>
            </div>
            <div class="col-6">
              <h5>Python</h5>
              <div class="progress">
                <div class="progress-bar bg-python" role="progressbar" style="width: 90%" aria-valuenow="90"
                  aria-valuemin="0" aria-valuemax="90">90%</div>
              </div>
            </div>
          </div>
        </div>
        <!-- EDUCATION -->
        <div id="education" class="col-12 box">
          <h6>Educazione</h6>
          <h3>Educazione</h3>
          <div id="one" class="education-row">
            <div id="one-intro" class="col-12 edu-intro active">
              <p>Yoox Interface Developer Academy</p>
            </div>
            <div id="one-caption" class="col-12 caption">
              <p>
                Un corso intensivo per sviluppatore web front-end di 6 settimane sponsorizzato da Adecco Formation e
                Modis in partnership con Yoox.
              </p>
              <p>
                Argomenti affrontati nel corso: Photoshop, HTML5, HTML semantico, CSS3, Responsive Web
                Design, JavaScript, ES6, JSON, AJAX, jQuery, SASS, Visual Studio, .NET Framework, C#.
              </p>
            </div>
          </div>
          <div id="two" class="education-row">
            <div id="two-intro" class="col-12 edu-intro">
              <p>Laurea triennale in Economia e Management</p>
            </div>
            <div id="two-caption" class="col-12 caption">
              <p>
                Mi sono laureato all'univeristà degli studi di Salerno nel marzo 2019 con una laurea triennale in
                Economia e Management, specializzato in Amministrazione, Finanza e Controllo.
              </p>
            </div>
          </div>
          <div id="three" class="education-row">
            <div id="three-intro" class="col-12 edu-intro">
              <p>Samsung Innovation Camp 2018</p>
            </div>
            <div id="three-caption" class="col-12 caption">
              <p>
                Il Samsung Innovation Camp 2018 è un progetto creato da Samsung Electronics Italia S.p.A con l'obiettivo
                di fornire un background tecnologico a studenti universitari e infine insegnargli a mettere in pratica
                tali tecnologie.
                Nel mio caso ho lavorato con un team presso il Parco Archeologico di Paesum, il nostro obiettivo era di
                ridurre il gap tecnologico all'interno della struttura, e abbiamo proposto di farlo utilizzando la
                tecnologia NFC, i Beacon ed il Bluetooth 4.0.
              </p>
            </div>
          </div>
          <div id="four" class="education-row">
            <div id="four-intro" class="col-12 edu-intro">
              <p>Erasmus+ Program, Witten/Herdecke University</p>
            </div>
            <div id="four-caption" class="col-12 caption">
              <p>
                Nel semestere invernale 2017/18 ho partecipato al programma Erasmus+ per 6 mesi nell'Università di
                Witten/Herdecke in Germania dove ho havuto la possibilità di accrescere la mia conoscenza della lingua
                inglese ed ho imparato le basi della lingua tedesca
                <br>
                Nel frattempo ho seguito i seguenti corsi: Market Research, Strategic Marketing,
                Marketing Management, Family Business.
              </p>
            </div>
          </div>
          <div id="five" class="education-row">
            <div id="five-intro" class="col-12 edu-intro">
              <p>“The Web Developer Bootcamp” di Colt Steele</p>
            </div>
            <div id="five-caption" class="col-12 caption">
              <p>
                Un bootcamp intensivo di sviluppatore web full-stack, gli argomenti affrontati nel corso sono:
                HTML5, CSS3, JavaScript, Bootstrap 4, Semantic UI, Manipolazione del DOM, jQuery, Unix (Command
                Line) Commands, Node.js, NPM, ExpressJS, REST, MongoDB, Database Associations,
                Authentication, PassportJS, Authorization.
              </p>
            </div>
          </div>
          <div id="six" class="education-row">
            <div id="six-intro" class="col-12 edu-intro">
              <p>“Complete Python Bootcamp” di Jose Portilia</p>
            </div>
            <div id="six-caption" class="col-12 caption">
              <p>
                Un bootcamp intensivo sul linguaggio di programmazione Python offerto da uno fra i migliori istruttori
                professionali per Data Science e programmazione.
                <br>
                Argomenti affrontati nel corso: Python 3, Object
                Oriented
                Programming (OOP), inheritance, polymorphism , Unit Tests, Debugging ed Error Handling.
              </p>
            </div>
          </div>
        </div>
        <!-- MY WORK -->
        <div id="work" class="col-12 box">
          <h6>I miei lavori</h6>
          <h3>Lavori recenti</h3>
          <div class="portfolio-row">
            <div class="thumbnail col-6">
              <div class="portfolio-text">
                <a href="https://radiant-oasis-30147.herokuapp.com/" target="_blank">Spaghetti &
                  Code</a>
                <p>
                  Un progetto personale in cui ho creato una scuola online per insegnare alle persone a programmare in
                  maniera interattivo.
                </p>
              </div>
            </div>
            <div class="thumbnail col-6">
              <div class="portfolio-text">
                <a href="https://desolate-brushlands-59136.herokuapp.com/home" target="_blank">Incontri
                  Storti</a>
                <p>
                  Un sito web, con un piccolo mototre di ricerca per la ricerca di post e una funzionalità "Mi sento
                  fortunato", che ho creato per dei miei clienti dove postano foto degli incontri più strani della
                  storia.
                </p>
              </div>
            </div>
            <div class="thumbnail col-6">
              <div class="portfolio-text">
                <a href="https://aqueous-retreat-78200.herokuapp.com/" target="_blank">Master Mind
                  Game</a>
                <p>Un gioco online creato con JavaScript.</p>
              </div>
            </div>
            <div class="thumbnail col-6">
              <div class="portfolio-text">
                <a href="https://github.com/antonaai/Credit_card_validator/blob/master/credit_card_validator.py"
                  target="_blank">Validatore di Carta di Credito</a>
                <p>
                  Il codice sorgente di un validatore di carte di credito che utilizza l'algoritmo di Luhn per
                  verificare se una carta è valida o meno, scritto con il linguaggio Python.
                </p>
              </div>
            </div>
            <div class="thumbnail col-6 more-content">
              <div class="portfolio-text">
                <a href="https://github.com/antonaai/Black-Jack/blob/master/black_jack.py" target="_blank">Black
                  Jack</a>
                <p>Il codice sorgente di un gioco di Black Jack creato con il linguaggio di programmazione Python.</p>
              </div>
            </div>
            <div class="thumbnail col-6 more-content">
              <div class="portfolio-text">
                <a href="https://multicultural-eds-36686.herokuapp.com/" target="_blank">Horizons</a>
                <p>
                  Un semplice sito web con una sola pagina che mostra il layout di un sito web responsive. Cambia le
                  dimensioni della finestra del browser per vedere dei cambiamenti.
                </p>
              </div>
            </div>
            <div id="load-more" class="col-12">
              Mostra di più
            </div>
          </div>
        </div>
        <!-- CONTACT -->
        <div id="contact" class="col-12 box">
          <h6>Mettiti in contatto</h6>
          <h3>Contatti</h3>
          <div class="contact-row">
            <div class="row col-6">
              <div class="col-3">
                <i class="far fa-envelope"></i>
              </div>
              <div class="col-9">
                <p>tonyaiello66@gmail.com</p>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fas fa-phone"></i>
              </div>
              <div class="col-9">
                <p>+39 3518924077</p>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-instagram"></i>
              </div>
              <div class="col-9">
                <a href="https://www.instagram.com/toniii.a13/" target="_blank">@toniii.a13</a>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-facebook-f"></i>
              </div>
              <div class="col-9">
                <a href="https://www.facebook.com/antonio.aiello.5682" target="_blank">Antonio
                  Aiello</a>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="col-9">
                <a href="https://www.linkedin.com/in/antonio-aiello-1123aai/" target="_blank">Linkedin</a>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <i class="fab fa-github"></i>
              </div>
              <div class="col-9">
                <a href="https://github.com/antonaai" target="_blank">Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="javascripts/jquery-file.js"></script>
  <script src="javascripts/main-it.js"></script>
</body>

</html>