@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$font-primary: 'Open Sans',
Arial,
sans-serif;
$font-secondary: 'Merriweather',
Georgia,
serif;

$brand-primary: #2d9efa !default;
$brand-footer: rgb(48, 48, 48) !default;

$brand-color-1: #2c96ec !default;
$brand-color-2: #e94f4f !default;
$brand-color-3: #fabf3e !default;
$brand-color-4: #a94cb9 !default;
$brand-color-5: #2fada1 !default;
$brand-color-6: #3d53b4 !default;

$brand-white: white;
$brand-black: black;
$brand-darker: #444;
$brand-gray: #f2f3f7fb;
$brand-lighter: #e9e9e9fb;
$brand-body-color: #e8e8e8f6;
$brand-selection-color: #f9f6f0f6;
$brand-overlay-color: #3b3d40;
$brand-bg-color: white;

@mixin square-style($colore) {
    border-bottom: 2px $colore solid;

    i {
        color: $colore;
    }
}

@mixin exp-style($colore) {
    border-bottom: 2px $colore solid;

    i {
        background-color: $colore;
    }
}

@mixin row-setup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-primary;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    background-color: #f9f6f0;
    overflow-x: hidden;
}

i {
    color: black;
}

h1,
h3 {
    color: #000;
}

img {
    width: 100%;
}

#wrapper {
    width: 75em;
    max-width: 100%;
    margin: 0 auto;
}

.row,
.squares-row,
.experties-row,
.percentage-row,
.education-row,
.portfolio-row,
.contact-row {
    @include row-setup();
}

.col-2 {
    width: 16.6666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-6 {
    width: 50%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333%;
}

.col-12 {
    width: 100%;
}


#side-menu,
#main #intro {
    height: 100vh;
}

#side-menu {
    padding: 2em 3em;
    text-align: center;
    background-color: $brand-gray;
    width: 248.75px;
    position: fixed;
    overflow-y: scroll;




    img {
        border-radius: 50%;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 31px;
        font-family: "Playfair Display",
            Georgia,
            serif;
        padding: 7px 0;
        line-height: 34px
    }

    h4 {
        font-size: 12.5px;
        text-transform: uppercase;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.5);
        padding-bottom: 10px;
    }

    p {
        font-size: 12.5px;
        color: rgba(0, 0, 0, 0.5);
    }

    ul {
        list-style-type: none;

        li {
            margin: 0 0 10px 0;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;

            a {
                color: rgba(0, 0, 0, 0.7);
                text-decoration: none;
            }

            a:hover {
                color: #000;
                border-bottom: 1px solid $brand-color-1;
            }
        }
    }

    .languages {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
        padding: 0 15px;

        img {
            width: 35px;
        }
    }
}

#main {
    margin-left: 248.75px;

    .mobile-show {
        display: none;

        .col-6 {
            text-align: right;
        }

        a img {
            width: 15%;
            margin: 0 auto;
            margin-bottom: 3px;
            float: right;

        }
    }
}

#main #intro {
    background-image: url("../images/desk-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



    #intro-text {
        width: 100%;
        padding: 10em 5em;

        h1 {
            font-family: $font-secondary;
            font-size: 60px;
        }

        p,
        a {
            font-family: $font-primary;
            font-size: 17px;
            line-height: 50px;
        }

        a {
            background-color: transparent !important;
            border: 1px solid #000;
            padding: 0 20px;
            margin-top: 15px;
            display: block;
            width: 140px;
            color: black;
            text-decoration: none;
            font-size: 15px;
        }
    }
}

.box {
    padding: 10% 5%;

    h6 {
        margin-bottom: 15px;
        display: block;
        font-size: 10px;
        text-transform: uppercase;
        color: #999999;
        font-weight: 500;
        letter-spacing: 5px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 4em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 1.8;
        position: relative;
        font-family: $font-secondary;
    }

    p {
        margin-bottom: 1.5em;
    }

    .squares-row {
        flex-wrap: nowrap;

        #s-one {
            @include square-style($brand-color-1);
        }

        #s-two {
            @include square-style($brand-color-2);
        }

        #s-three {
            @include square-style($brand-color-3);
        }

        #s-four {
            @include square-style($brand-color-5);
        }
    }

    .squares-row .square {
        padding: 2em 2em;
        width: 23%;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 97px -47px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: 0px 0px 97px -47px rgba(0, 0, 0, 0.52);
        box-shadow: 0px 0px 97px -47px rgba(0, 0, 0, 0.52);

        i {
            display: block;
            margin-bottom: 20px;
            font-size: 20px;
        }

        p {
            font-size: 16px;
            font-weight: 500
        }
    }
}

.experties-row .skill-box {
    padding: 2em;
    width: 48%;
    background-color: #fff;
    margin-bottom: 40px;
    text-align: center;
    -webkit-box-shadow: 13px 12px 17px -9px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 13px 12px 17px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 13px 12px 17px -9px rgba(0, 0, 0, 0.4);

    i {
        font-size: 30px;
        padding: 35px 40px;
        color: white;
        margin-bottom: 20px;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }

    h3 {
        margin-bottom: 10px;
        font-family: $font-primary;
        font-size: 1em;
    }

    p {
        margin-bottom: 0;
        font-size: 0.9em;
    }
}

.experties-row .skill-box:nth-child(1) {
    @include exp-style($brand-color-1);
}

.experties-row .skill-box:nth-child(2) {
    @include exp-style($brand-color-2);
}

.experties-row .skill-box:nth-child(3) {
    @include exp-style($brand-color-3);
}

.experties-row .skill-box:nth-child(4) {
    @include exp-style($brand-color-4);
}

.experties-row .skill-box:nth-child(5) {
    @include exp-style($brand-color-5);
}

.experties-row .skill-box:nth-child(6) {
    @include exp-style($brand-color-6);
}

.education-row {

    margin-bottom: 5px;

    p {
        margin-bottom: 0;
    }

    .caption {
        padding: 15px 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 5px;
        display: none;
    }

}

.edu-intro {
    background-color: $brand-gray;
    border: 1px solid #e6e6e6;
    color: #333333;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

#one .caption {
    display: block;
}

.active {
    background-color: $brand-color-1;
    color: white;
}

.portfolio-row {

    .thumbnail {
        width: 48%;
        height: 300px;
        margin-bottom: 30px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.52);
        box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.52);


        .portfolio-text {
            width: 100%;
            background-color: $brand-color-1;
            height: 100%;
            display: none;
            padding: 25px;

            a {
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                font-size: 2em;
                line-height: 35px;
            }

            a:hover {
                color: rgba(255, 255, 255, 0.7)
            }

            p {
                color: $brand-gray;
                font-size: 0.9em;
            }
        }
    }

    .thumbnail:nth-child(1) {
        background-image: url("../images/spaghetti-bg.jpg");
    }

    .thumbnail:nth-child(2) {
        background-image: url("../images/incontri-bg.jpeg");
    }

    .thumbnail:nth-child(3) {
        background-image: url("../images/master-mind-bg.jpg");
    }

    .thumbnail:nth-child(4) {
        background-image: url("../images/credit-card-bg.jpg");
    }

    .thumbnail:nth-child(5) {
        background-image: url("../images/blackjack.jpg");
    }

    .thumbnail:nth-child(6) {
        background-image: url("../images/isabelle.jpg");
    }




    #load-more {
        background-color: $brand-color-1;
        text-align: center;
        color: #fff;
        padding: 1em 0;
        border-radius: 2px;
        font-weight: bold;
        cursor: pointer;
    }
}

.more-content {
    display: none;
}

.contact-row {
    font-size: 17.5px;

    .row {
        margin-bottom: 1.5em;
    }

    .col-3 {

        text-align: center;
        background-color: $brand-gray;
        width: 23%;

        i {
            color: $brand-color-1;


        }
    }

    .col-3,
    .col-9 {
        padding: 20px 0;
    }

    .col-9 {
        width: 75%;
    }

    p,
    a {
        margin-bottom: 0;
    }

    a {
        font-family: $font-primary;
        font-weight: 400;

        line-height: 1.8;
        color: rgba(0, 0, 0, 0.7);
    }
}

//progress bar styling 
progress {
    vertical-align: baseline;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        -webkit-animation: none;
        animation: none;
    }
}

.progress-row {
    .col-6 {
        width: 48%;
        margin-top: 20px;

        h5 {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: 400;
        }
    }
}

.bg-success {
    background-color: #2fa499 !important;
}

.bg-info {
    background-color: #2c98f0 !important;
}

.bg-warning {
    background-color: #f9bf3f !important;
}

.bg-danger {
    background-color: #ec5453 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-python {
    background-color: #4054b2;
}

$tablet-breakpoint: 992px;
$phone-breakpoint: 767px;
$xs-breakpoint: 576px;

@media screen and (max-width: $tablet-breakpoint) {
    #side-menu {
        display: none;
    }

    #main .mobile-show {
        display: flex;
        position: fixed;
        background-color: #f9f6f077;
        z-index: 1;
    }

    .col-6 {
        width: 50%;
    }

    #main {
        margin-left: 0;
        width: 100%;
    }

    #main #intro #intro-text {
        padding: 15em 5em;
    }

    #main #intro #intro-text p {
        font-size: 30px;
        line-height: 93px;
    }

    #main #intro #intro-text a {
        font-size: 18px;
        text-align: center;
        width: 170px;
    }

    #main #intro #intro-text h1 {
        font-size: 65px;
        line-height: 85px;
    }

    #main .mobile-show a img {
        width: 43px;
    }

    .box .squares-row {
        flex-wrap: wrap;
    }

    .experties-row .skill-box {
        width: 48%;
    }

    .box .squares-row .square {
        width: 48%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: $phone-breakpoint) {

    .col-2,
    .col-3,
    .col-4,
    .col-6,
    .col-9,
    .col-10,
    #wrapper {
        width: 100%;
    }

    #side-menu {
        display: none;
    }

    #main {
        margin-left: 0;

        span {
            display: inline;
        }

        .mobile-show {
            display: flex;

            .col-6 {
                width: 50%;
            }
        }

        #intro #intro-text h1 {
            line-height: 85px;
        }
    }

    #main #intro #intro-text h1 {
        font-size: 47px;
        line-height: 85px;
    }

    .box .squares-row .square {
        width: 100%;
        margin-bottom: 20px;
    }

    .box .squares-row {
        flex-wrap: wrap;
    }

    #main {
        padding: 0 1.5em;
    }

    #main #intro {
        background-position: 65%;
    }

    #main #intro #intro-text {
        padding: 4.5em 5em;
    }

    .experties-row {
        flex-wrap: wrap;

        .skill-box {
            width: 100%;
        }
    }

    .portfolio-row {

        .thumbnail {
            width: 100%;
        }
    }

    .progress-row {
        .col-6 {
            width: 100%;
            margin-top: 15px;

            h5 {
                font-size: 16px;
                margin-bottom: 7.5px;
                font-weight: 400;
            }
        }
    }

    .portfolio-row .thumbnail .portfolio-text a {
        font-size: 1.4em;
        line-height: 30px;
    }

    #main #intro #intro-text {
        padding: 5em 5em;
    }

    #main #intro #intro-text p {
        font-size: 15px;
        line-height: 25px;
    }

    #main #intro #intro-text a {
        font-size: 18px;
        text-align: center;
        width: 170px;
    }

    #main #intro #intro-text h1 {
        font-size: 65px;
        line-height: 85px;
    }

    #main .mobile-show {
        padding: 0;
        width: 100%;
        position: static;
    }

    #main .mobile-show a img {
        width: 20px;
    }

    .box .squares-row {
        flex-wrap: wrap;
    }

    .experties-row .skill-box {
        width: 100%;
    }

    .box .squares-row .square {
        width: 100%;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: $phone-breakpoint) {
    #main #intro {
        height: 95vh;
    }

    #main #intro #intro-text {
        padding: 5em 2em;
    }

    #main #intro #intro-text h1 {
        font-size: 35px;
        line-height: 56px;
    }

    #main #intro #intro-text a {
        padding: 0px 13px;
        font-size: 15px;
        line-height: 50px;
        width: 130px;
    }
}